/* RESET ========================= */
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* BASE ========================== */
html {
  font-size: 1em; /*16*/
  line-height: 1.2em; /*19.2*/
}

body {
  padding: 1em; /*32*/
}

h1 {
  font-size: 1.7em;
  line-height: 1.2em;
  text-align: center;
}

nav li {
  display: inline-block;
  width:25%;
}

nav li a {
  list-style-type: none;
  text-decoration: none;
  color: #778899;
  text-decoration: none;
  padding-top: 0.722em;
  padding-bottom: 0.722em;
}

p {
  text-indent: 1em;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 0.62em;
}

.work-experience {
    list-style-type: square;
    padding: 0.62em;
}

.job-title {
    list-style-type: circle;
    list-style-position: inside;
    padding-right: 0.183em;
}

.contact-info {
  display: inline-block;
  margin-left: 0.6em;
  margin-right: 1.4em;
  color: #558000;
  padding: .4em 1em .4em 1em;
  display: square;
}

.p-name {
  padding-top: 0.33em;
  padding-bottom: 0.33em;
}
li {
  padding: 0.44em;
}

.skills {
    list-style-type: square;
    padding: 0.62em;
}

#youtube-vid2{
 max-width: auto;
 max-height: auto;
 max-width: auto;
 text-align: center;
}
img, video {
  width: 100%;
  padding-right: 0.62em; /*10*/
}

/* LAYOUT ======================== */
/* MODULAR ======================= */
.media-left {
  padding: 0% 1% 0% 1%;
}
.media-right {
  padding: 0% 1% 0% 1%;
}

/* STATE ========================= */
/* Mobile */
@media screen and (min-width: 0.01em) {
  html {
    margin: 0% 5% 0% 5%;
  }
  .media-left {
    float: none;
  }
  .media-right {
    float: none;
  }
}
/* Tablet */
@media screen and (min-width: 29em) {
  html {
    font-size: 0.9em;
    margin: 0% 10% 0% 10%;
  }
  .media-left {
    float: left;
    max-width: 35%;
    padding-right: 5%;
  }
  .media-right {
    float: right;
    max-width: 35%;
    padding-right: 5%;
  }
  h1 {
    font-size: 2.488em;    /*39.8*/
    line-height: 1.2em;    /*47.9*/
  }
  h2 {
    font-size: 1.728em;    /*27.65*/
    line-height: 1.2em;    /*39.9*/
  }
}

/* Desktop */
@media screen and (min-width: 50em) {
  html {
    margin: 0% 15% 0% 15%;
  }
}

/* THEME ========================= */

html {
  background-color: #607B8B;
  font-family: Merriweather, Georgia, serif;
}
body {
  background-color: #D3D3D3;
}

/* INTERACTIONS ================= */
nav a:hover {
  background-color: #FAEBD7;
  padding-left: 0.6em;
  padding-right: 0.5em;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}